body {
    background-image: url('images/background/bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_body {
    width: fit-content;
}

.play_field {
    display: flex;
}

.box {
    cursor: pointer;
    background-color: white;
    width: 94px;
    height: 94px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 8px;
}

.box :hover {
    transform: scale(1.1);
}

.revealed {
    background-color: rgb(130, 166, 180);
}