body {
    font-family: 'Poppins';
    font-weight: bold;
    color: rgb(253, 112, 102);
    font-size: 36px;
    background-image: url('images/background/bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    padding-left: 80px;
    padding-right: 18px;
    width: 100px;
    height: 100px;
}

.main_container {
    display: flex;
}

.main_body {
    width: fit-content;
}

.play_field {
    display: flex;
}

.box {
    cursor: pointer;
    background-color: white;
    width: 94px;
    height: 94px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 8px;
}

.box img {
    width: 100%;
    height: 100%;
}

.box:hover {
    transform: scale(1.08);
}

.revealed {
    background-color: rgb(130, 166, 180);
}

.status {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status_row {
    display: flex;
    align-items: center;
}

.numbers {
    text-align: center;
    width: 150px;
    padding: 25px;
    background-color: white;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}

.game_over {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    font-size: 280px;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vw;
}